<div class="bookTableDiv">

    <h2>All our books</h2>

    <app-book-filter></app-book-filter>    

    <table>
        <tbody>
        <tr>
            <td class="isbnRow">ISBN</td>
            <td class="titleRow">Title</td>
            <td class="autorRow">Autor</td>
            <td class="pagesRow">Pages</td>
            <td class="deleteRow">Delete</td>
            <td class="infoRow">Edit</td>
        </tr>
        <tr *ngFor="let book of bookservice.filterdBooks">
            <td class="cell">{{ book.ISBN }}</td>
            <td class="cell">{{ book.Title }}</td>
            <td class="cell">{{ book.Autor }}</td>
            <td class="cell">{{ book.NumberOfPages }}</td>
            <td class="cell">
                <a class="tableButton cancelLink" (click)="deleteBook(book)">Delete</a>
            </td>
            <td class="cell">
                <a class="tableButton submitLink"  [routerLink]="['/book-entry', book.Id]">Edit</a>  
            </td>
        </tr>  
        </tbody>      
    </table>
</div>
