.grayDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: inherit;
    position: relative;
    text-align: center;  
  }

.bookTableDiv {
    width: 100%;
    display: grid;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
    box-sizing: inherit;
    position: relative;
    text-align: center;    
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

td{
    padding: 10px;
    border: 0px;
    background-color:#007aff;
    color:white;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Arial";  
}

.isbnRow {
    width: 160px;
}

.titleRow {
    width: 200px;
}

.autorRow {
    width: 180px;
}

.pagesRow {
    width: 60px;    
}

.infoRow {
    width: 60px;
}

.cell {
    font-size: 1.2rem;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:white;
    color:black;
    font-family: "Arial";  
}

.tableButton {
   text-align: center;
   border: 0px;
   font-size: 1.1rem;
   width: 70px;
   cursor:pointer;
}

.cancelLink {
     color: red;
     text-decoration: none;
}

.submitLink {
    color: blue;
    text-decoration: none;
}
