<div class="grayDiv" >
    
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <label for="title">Title</label>
        <input type="text" id="title" placeholder="" formControlName="title">
        <label for="autor">Autor</label>
        <input type="text" id="autor" placeholder="" formControlName="autor">
        <label for="isbn">ISBN</label>
        <input type="text" id="isbn"  placeholder="" formControlName="isbn">
        <label for="pages">Number of Pages</label>
        <input type="text" id="pages" placeholder="" formControlName="pages">
        
        <p>
            <button class="cancelButton" (click)="cancel()">Cancel</button>
            <button class="submitButton" type="submit">Add Book</button>
        </p>
                
        <p>{{ dummy }}</p>
        <!-- Single Source of Truth-->
        <!--p> Input Data: 
            {{checkoutForm.value.title}}
            {{checkoutForm.value.autor}}
            {{checkoutForm.value.isbn}}
            {{checkoutForm.value.pages}}
        </p-->    
    </form>
</div>


