.grayDiv {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: inherit;
    position: relative;
    text-align: center;        
  }

  form {
    margin-top: 20px;
  }


label {
  font-size: 1.1rem;
  width: 150px;
  display: flex;
  color: brown;
  margin-left: 8px;
}

  input {
    font-size: 1.1rem;
    margin: 5px;
    color: brown;
    border-color: transparent;
  }

  .submitButton {
    font-size: 1.0rem;
    margin: 5px;
    color:darkgreen;
    background-color: white;
    width: 100px;
    height: 28px;
    border: 3px solid darkgreen;
    border-radius: 8px;
    font-weight: 600;
  }

  .cancelButton {
    font-size: 1.0rem;
    font-weight: 600;
    margin: 5px;
    color: red;
    background: white;
    width: 100px;
    height: 28px;
    border: 3px solid red;
    border-radius: 8px;
  }


