.bookShelf {
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: grid;
  background-color: transparent;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

.bookShelfItem {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Arial";
  background: linear-gradient(139deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  backdrop-filter: blur(1px);
  text-align: center;
  width: 300px;
}

.bookShelfItemAutor {
  font-size: 1rem;
  margin-top: 5px;
}

.bookShelfItemTitle {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Arial";
  margin-top: 5px;
}

.bookShelfItemPrice {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Arial";
  margin-top: 8px;
  margin-right: 10px;
}

.buttonBar {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.cart {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007aff' viewBox='0 -960 960 960' width='32' %3E%3Cpath d='M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 5px;
  width: 32px;
  height: 30px;
  cursor: pointer;
}

.cart:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 -960 960 960' width='32' %3E%3Cpath d='M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z'/%3E%3C/svg%3E");
}
