
<main class="pageMain">
  <div class="content">
    <div>
      <h1>Hello, Welcome to {{title}}</h1>
      <h2>{{tagline}}</h2>
    </div>
  </div>
</main>

<div class="pageContent">


  <table>
    <thead>
        <th>ISBN</th>
        <th>Title</th>
        <th>Autor</th>
        <th>Pages</th>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.ISBN }}</td>
            <td>{{ book.Title }}</td>
            <td>{{ book.Autor }}</td>
            <td>{{ book.NumberOfPages }}</td>
        </tr>
    </tbody>
</table>

  
</div>

<router-outlet></router-outlet>
