<div class="pageMain">
  <h1>Welcome to {{ title }}</h1>
  <h2>{{ tagline }}</h2>
</div>

<nav class="navigationBar">
  <a class="navigationLink" routerLink="/shopping-store">Store</a>
  <a class="navigationLinkRight" routerLink="/all-books">All Books</a>
  <a class="navigationLinkRight" routerLink="/book-entry">Add New</a>
  <a class="navigationLinkRight" routerLink="/book-shelf">Shelf</a>
  <div class="group" routerLink="/shopping-cart">
    <div class="cart"></div>
    <div class="navigationItem" *ngIf="shoppingservice.books.length > 0">{{ shoppingservice.books.length }}</div>
  </div>
</nav>
