<div class="grayDiv">
  <div class="contentBorder">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="" formControlName="title" data-cy="title-input"/>
      <label for="autor">Author</label>
      <input type="text" id="autor" placeholder="" formControlName="autor" data-cy="author-input" />
      <label for="isbn">ISBN</label>
      <input type="text" id="isbn" placeholder="" formControlName="isbn" data-cy="isbn-input" />
      <label for="pages">Number of Pages</label>
      <input type="number" id="pages" placeholder="" formControlName="pages" data-cy="pages-input" />
      <label for="price">Price</label>
      <input type="number" id="price" placeholder="" formControlName="price" data-cy="price-input" />
      <label for="category">Category</label>
      <select formControlName="bookCategory">
        <option *ngFor="let cate of categories" [ngValue]="cate">
          {{ cate.category }}
        </option>
      </select>
      <p>
        <button class="cancelButton" (click)="cancel()">Cancel</button>
        <button class="submitButton" type="submit">{{ addButtonText }}</button>
      </p>
    </form>
  </div>
  <p class="messageLabel">{{ message }}</p>
</div>
