/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(225, 233, 255);
  }

  input {
    font-size: 1.2rem;
    margin: 5px;
    margin-top: 2px;
    color: black;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 10px;
    outline: none;
    height: 25px;
  }

  .submitButton {
    font-size: 1.2rem;
    margin: 5px;
    color:darkgreen;
    background-color: white;
    height: 28px;
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-weight: 400;
    width: 45%;
  }

  .cancelButton {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px;
    color: red;
    background: white;
    height: 28px;
    border: 1px solid red;
    border-radius: 5px;
    width: 45%;
  }
