/* You can add global styles to this file, and also import other style files */
body {
  --primary-color: #007aff;
  --primary-background-color: white;
  --primary-green-color: green;
  --secondary-green-color: darkgreen;
  --primary-red-color: #ff3b30;
  --secondary-red-color: darkred;
  --button-text-color: white;
  
  --primary-corner-radius: 5px;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-background-color);
  background-image: url("assets/images/bluebackground2.jpg");
}

h1 {
  font-size: 2.5em;
  font-weight: 400;
  color: var(--primary-color);
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Arial";
}

h2 {
  font-size: 1.7em;
  color: var(--primary-color);
  font-weight: 400;
  font-style: italic;
  line-height: 150%;
  margin: 0;
  font-family: "Arial";
}

input {
  font-size: 1.2rem;
  margin: 5px;
  color: black;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 10px;
  outline: none;
  height: 28px;
}

.genericButton {
  font-size: 1.2rem;
  margin: 5px;
  color: var(--primary-color);
  background-color: white;
  height: 34px;
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  font-weight: 400;
  text-align: center;
  font-family: "Arial";
}

.genericButton:hover {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  border: 2px solid white;
}

.submitButton {
  font-size: 1.2rem;
  margin: 5px;
  color: var(--primary-green-color);
  background-color: white;
  height: 34px;
  border: 3px solid var(--primary-green-color);
  border-radius: 8px;
  font-weight: 400;
  text-align: center;
  font-family: "Arial";
}

.submitButton:hover {
  color: var(--button-text-color);
  background-color: var(--secondary-green-color);
  border: 2px solid white;
}

.cancelButton {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5px;
  color: var(---primary-red-color);
  background: white;
  height: 34px;
  border: 3px solid var(--primary-red-color);
  border-radius: 8px;
  text-align: center;
  font-family: "Arial";
}

.cancelButton:hover {
  color: var(--button-text-color);
  background-color: var(--secondary-red-color);
  border: 2px solid white;
}
