.parentContainer {
  display: flex;
  flex-flow: row;
  align-items:start;
  margin-top: 10px;
}

.drawerContent {
    padding: 10px;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Arial";
}

.childContainer {
    padding: 10px;
    margin: 5px;
    margin-left: 10px;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: "Arial";
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    border-radius: var(--primary-corner-radius);    
}