<h3 class="section">Books in Stock</h3>

<div
  class="bookShelf"
  cdkDropList
  #stockList="cdkDropList"
  [cdkDropListData]="bookservice.booksInStock"
  [cdkDropListConnectedTo]="[reorderList]"
  (cdkDropListDropped)="drop($event)"
>
  <div *ngFor="let book of bookservice.booksInStock" cdkDrag>
    <div class="bookShelfItem">
      <div class="bookShelfItemAutor">
        {{ book.Autor }}
      </div>
      <div class="bookShelfItemTitle">
        {{ book.Title }}
      </div>
    </div>
  </div>
</div>

<h3 class="section">Books to Reorder</h3>

<div
  class="bookShelf"
  cdkDropList
  #reorderList="cdkDropList"
  [cdkDropListData]="bookservice.booksToReorder"
  [cdkDropListConnectedTo]="[stockList]"
  (cdkDropListDropped)="drop($event)"
>
  <div *ngFor="let book of bookservice.booksToReorder" cdkDrag>
    <div class="bookShelfItem">
      <div class="bookShelfItemAutor">
        {{ book.Autor }}
      </div>
      <div class="bookShelfItemTitle">
        {{ book.Title }}
      </div>
    </div>
  </div>
</div>
