<div class="bookTableDiv">
    
    <h2>All our books</h2>
    
    <table>
        <tr>
            <td class="isbnRow">ISBN</td>
            <td class="titleRow">Title</td>
            <td class="autorRow">Autor</td>
            <td class="pagesRow">Pages</td>
            <td class="infoRow">Info</td>
        </tr>
        
        <tr *ngFor="let book of books">
            <!--app-book-row [book]=book></app-book-row-->
            <td class="cell">{{ book.ISBN }}</td>
            <td class="cell">{{ book.Title }}</td>
            <td class="cell">{{ book.Autor }}</td>
            <td class="cell">{{ book.NumberOfPages }}</td>
            <td class="cell">
                <button class="infoButton" (click)="showInfo(book)">Info</button>
            </td>
        </tr>
        
    </table>
</div>
